<ul id="legislation_menu" data-accordion-menu data-multi-open="true">
  <% if feature?(:budgets) %>
    <li class="section-title <%= "is-active" if menu_budgets? %>">
      <%= link_to admin_budgets_path do %>
        <span class="icon-budget"></span>
        <strong><%= t("admin.menu.budgets") %></strong>
      <% end %>
    </li>
  <% end %>
</ul>
