<% voted_classes = css_classes_for_vote(@debate_votes, debate) %>
<div class="votes">
  <div class="in-favor inline-block">
    <%= link_to '#comments',
      class: "like #{voted_classes[:in_favor]}", title: 'participa' do %>
      <span class="icon-like">
        <%= image_tag('boton-participa.png',  alt: 'participa') %>
        <%= image_tag('boton-participa-hover.png', class: 'hover', alt: 'participa') %>
      </span>
    <% end %>
  </div>
</div>
