.expanded.budget {
  background: $blue-gva;

  .info {
    background: $dark-blue-gva;
  }

  .callout.warning {
    a {
      color: $color-warning;
    }
  }
}

.budget-timeline {
  border-left: 3px solid $brand;

  .phase.is-active h3 {
    background: $brand;
  }

  .phase.is-active::before {
    background-color: $brand;
  }

  .phase::before {
    border: 4px solid $brand;
  }
}

.jumbo-budget {
  background: $blue-gva;
  border-bottom: 1px solid $blue-gva;
}


.expanded.budget .button {
  @include custom-button;
  color: $red-gva;
}

.groups-and-headings {
  .heading {
    border-radius: 18px;
    display: inline-flex;

    a {
      width: 100%;
      border-radius: 18px;
    }
  }
}

a.button.budget.expanded {
  @include custom-button;
  margin-top: 0;
}

ul.votes-group-sidebar {
  list-style: none;
  margin-left: 0;

  li {
    background: #f9f9f9;
    line-height: $line-height;
    margin-bottom: $line-height / 4;
    padding: $line-height $line-height / 2;
    position: relative;
    &.investment_group, &.investment_group:hover {
      background-color: transparent;
      line-height: 1rem;
      padding: 0;
      color: #1c9799;
    }

    a {
      color: $text;
    }

    span {
      display: block;
      font-style: italic;
    }

    .remove-investment-project {
      display: block;
      height: 0;

      .icon-x {
        color: #9f9f9f;
        font-size: rem-calc(24);
        line-height: $line-height / 2;
        position: absolute;
        right: 6px;
        text-decoration: none;
        top: 6px;

        @include breakpoint(medium) {
          font-size: $base-font-size;
        }
      }
    }

    &:hover {
      background: $budget;
      color: #fff;

      a,
      span {
        color: #fff;
        outline: 0;
        text-decoration: none;
      }

      .remove-investment-project .icon-x {
        color: #fff;
      }
    }
  }
}