.custom-page a:hover {
  h3 {
    color: $link;
  }
}

.menu.simple li a {
  color: $link;
}

.button {
  background: $brand;
  font-size: $base-font-size;
  border: solid 2px $red-gva;

  &:hover,
  &:focus {
    background-color: $red-gva;
    color: #fefefe;
  }


}

.button.button-twitter {
  background: #ecf7fc;
  border: 3px solid #45b0e3;

  &::before {
    color: #45b0e3;
    content: "f";
  }
}


.button.button-facebook {
  background: #ebeef4;
  border: 3px solid #3b5998;

  &::before {
    color: #3b5998;
    content: "A";
  }
}

.button.button-google {
  background: #fcedea;
  border: 3px solid #de4c34;


  &::before {
    color: #de4c34;
    content: "B";
  }
}
