.top-bar {
  color: $red-gva;
  padding-bottom: 0;
  padding-top: 0;

  @include breakpoint(medium) {
    padding: 0;
  }

  ul {
    background: none;
    padding-right: rem-calc(15);
  }

  .menu .menu-text {
    padding: 0;

    a {
      color: #fff;
      display: inline-block;
      font-family: "Lato" !important;
      font-size: rem-calc(24);
      font-weight: lighter;
      line-height: $line-height * 2;
      padding: 0;

      @include breakpoint(medium) {
        line-height: rem-calc(80);
        margin-top: 0;
      }

      img {
        @include breakpoint(medium) {
          margin-right: $line-height / 2;
          margin-top: 0;
        }
      }
    }
  }

  .menu > li {
    display: block;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }

    a {
      color: $red-gva;
      padding-left: 0;
      font-size: 16px;

      @include breakpoint(medium) {
        font-size: $small-font-size;
        padding: rem-calc(11) rem-calc(16);
      }
    }

    .button {
      background: none;
      text-align: left;

      @include breakpoint(medium) {
        border-radius: 10px;
      }
    }
  }

  .has-submenu {
    &.is-active a {
      color: $red-gva;
      font-weight: bold;
    }
  }

  .menu {
    &.is-dropdown-submenu {
      margin: 0;
      margin-top: rem-calc(-12);
      padding: 0;
      z-index: 9;
    }

    .is-submenu-item {
      display: block;
      height: auto;
      margin-bottom: 0;

      a {
        color: $red-gva;
      }
    }
  }

  .menu-icon {
    &.dark {
      &:hover::after,
      &::after {
        background: $red-gva;
        box-shadow: 0 7px 0 $red-gva, 0 14px 0$red-gva;
      }
    }
  }

  .top-bar-title {
    line-height: $line-height;

    a img {
      height: rem-calc(48);
      margin: 0;
      width: auto;

      @include breakpoint(medium up) {
        height: auto;
      }
    }
  }
}

.help-header h1 {
  color: $link;
}

.submenu a {
  color: $link;
}

.subnavigation {
  @include breakpoint(medium) {
    background: #fff;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      @include breakpoint(medium) {
        display: inline-block;
        margin-right: rem-calc(20);
      }
    }
  }

  a {
    color: $blue-gva;
    display: inline-block;
    line-height: $line-height * 2;
    position: relative;
    text-align: left;
    width: 100%;

    @include breakpoint(medium) {
      color: $blue-gva;
      display: block;
      font-weight: bold;
      width: auto;

      &:hover {
        color: $link;
      }
    }

    &.is-active {
      color: $red-gva;

      @include breakpoint(medium) {
        border-bottom: 2px solid $red-gva;
        color: $red-gva;
      }
    }
  }
}

.dropdown.menu > li {
  a {
    background: none;
  }

  &.is-active > a {
    color: $red-gva;
  }

  &.is-dropdown-submenu-parent > a::after {
    border-color: $red-gva transparent transparent;
  }
}

.radio-toolbar {
  margin: 10px auto;
  text-align: center;
}

.radio-toolbar input {
  display: none;
}

.radio-toolbar label {
  margin: 0px;
  color: $red-gva;
  cursor: pointer;
}

input:checked + label {
  text-decoration: underline;
}
