footer {
  color: $white-gva;

  a,
  a:active,
  a:focus {
    color: $white-gva;
    text-decoration: none;
  }

  .links,
  .privacy {
    ul li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.footer {
  background: $black-gva;
}
