.card {

  a {
    border-radius: 18px;
    box-shadow: 4px 6px 14px 0 rgba(0, 0, 0, 0.21);

    img {
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      transform: None !important;
    }

  }

  a:hover {
    box-shadow: 4px 6px 14px 0 rgba(0, 0, 0, 0.31) !important;
  }

  &__title {
    margin-top: 22.3px;
    margin-left: 14.7px;
    margin-bottom: 10.2px;
    font-size: 18px;
    font-weight: bold;
    color: $brand;
  }

  &__description {
    padding: 0 14.7px !important;
    font-size: 12px;
    line-height: 1.42;
    color: $black-gva;
  }

  &__link {
    text-align: center;
  }


}
