
@mixin custom-icon-mv {
  display: inline-block;
  width: 130px;
  height: 44px;
}

$padding: 30px;

.slider-gva {
  margin: 20px 0;
  background-color: #f6f6f6;

  .content-left, .content-right {
    img {
      margin: 0 10px;
    }
    div a {
      margin-top: 1em;
    }
    padding: 5em 1em;
    text-align: center;

    .buttons {
      margin: 15px 10px;
      display: flex;
    }
  }
}
