
@mixin custom-icon-mv {
  display: inline-block;
  width: 130px;
  height: 44px;
}

$padding: 30px;

.slider-gva {
  margin: 20px 0;
  background-color: #f6f6f6;

  .content-left, .content-right {
    padding: 5em 1em;
    text-align: left;
    display:flex;
    flex-direction: column;
    height: 34em;
    justify-content: center;
    h1 {
      font-family: Roboto;
      font-size: 36px;
      font-weight: bold;
      color: #1C9799;
    }
    p {
      width: 90%;
      font-family: Roboto;
      font-size: 16px;
      color: #191919;
    }
    img {
      margin: 0 10px;
    }
    .buttons {
      margin: 15px 0px;
      display: flex;
      justify-content: left;
      a.button {
        margin: 1em;
      }
    }
  }
}

@media print, screen and (max-width: 640px){
  .slider-gva {
    .content-left, .content-right {
      height: 25em;
      padding: 2em 5em;
    }
  }
}
