$padding: 30px;

.welcome-header {

  background-image: linear-gradient(
    rgba(11, 108, 146 , 0.5)
  ), image-url("custom/valencia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82%;
  height: 700px;
  margin-top: -1.5em;
  margin-bottom: 20px;

  @include breakpoint(medium) {
    background-image: image-url("custom/valencia.png");
    background-position: center;

  }

  .content {

    &__title {
      padding: 60px $padding;
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: bold;
      color: $white-gva;

      @include breakpoint(medium) {
        font-size: 60px;
        max-width: 640px;
      }
    }

    &__txt {
      color: $white-gva;
      margin-top: 20px;
      padding: 20px $padding;
      font-size: 16px;
      line-height: 1.38;

      @include breakpoint(medium) {
        color: $brand;
        padding: 35px $padding;
        max-width: 441px;
      }
    }

    &__buttons {
      padding-left: $padding;

      &__btn {
        padding: 15px 45px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

