<% unless Setting.where(key: 'max_votes_per_budget_per_user').empty?%>
  <div class="sidebar-item">
    <div class="sidebar-divider"></div>
    <h2 class="sidebar-title"><%= t("budgets.investments.index.sidebar.my_votes") %></h2>
    <br/>
    <% if current_user %>
    	<span class="remaining_votes"><%= t('votes.remaining_votes_description_html', count: current_user.number_of_budget_investment_votes_left_per_budget(@budget.id)) %></span>
    <% end %>
  </div>
  <br/>
<% end %>