.subnavigation {

  @include breakpoint(medium) {
    background: #fff;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      @include breakpoint(medium) {
        display: inline-block;
        margin-right: rem-calc(20);
      }
    }
  }

  a {
    color: #fff;
    display: inline-block;
    line-height: $line-height * 2;
    position: relative;
    text-align: left;
    width: 100%;

    @include breakpoint(medium) {
      color: $text;
      display: block;
      font-weight: bold;
      width: auto;

      &:hover {
        color: $link;
      }
    }

    &.is-active {
      color: #fff;

      @include breakpoint(medium) {
        border-bottom: 2px solid $brand;
        color: $brand;
      }
    }
  }

  .input-group {
    padding-top: $line-height / 4;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  .input-group-field {
    margin-bottom: 0 !important;
  }

  .input-group-button {
    line-height: $line-height * 1.5;
    padding-bottom: 0;

    button {
      background: $border;
      border: 1px solid #ccc;
      border-left: 0;
      color: $text;
      height: $line-height * 1.5;
      line-height: $line-height * 1.5;
      padding-top: 0;
    }
  }

  input {
    height: $line-height * 1.5 !important;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }
}
