<div id="more-info" name="more-info" class="small-12 medium-12 row">
  <div class="margin-bottom feeds-list">
    <div class="small-12 column margin-top medium-6">
      <h3 class="title">¿Qué es un BIC?</h3>

      <p>Un <strong>Bien de Interés Cultural (BIC)</strong> es una figura jurídica que emplea la administración pública para poder identificar el patrimonio que, por su relevancia social e histórica y su singularidad, desean proteger. Los BIC son los bienes protegidos que gozan de un mayor nivel de protección.</p>

      <p>Los BIC pueden ser tanto<strong> bienes inmuebles</strong> (Monumento; Conjunto Histórico; Jardín Histórico; Sitio Histórico; Zona Arqueológica; Sitio Etnográfico, Paisaje Cultural o Sitio Industrial), <strong>bienes muebles</strong> (individuales, vinculados a algún inmueble o formando parte de una colección) como <strong>inmateriales</strong>, vinculados al conocimiento y actividades tradicionales de ámbito regional, insular o local.</p>
    </div>

    <div class="small-12 column margin-top medium-6">
      <h3 class="title">¿Qué es un Conjunto Histórico?</h3>

      <p>La Ley de Patrimonio Cultural de Canarias define un Conjunto Histórico como <em>“la agrupación de bienes inmuebles que forman una unidad de asentamiento claramente delimitable (…) cuya estructura física sea reflejo de la evolución de una comunidad humana, con independencia del valor de los elementos singulares que la integran.”</em></p>

      <p>Dentro de un Conjunto Histórico, por lo tanto, puede haber<strong> torres, iglesias, casas, museos, yacimientos arqueológicos </strong>y todo tipo de inmuebles que pertenezcan y hayan colaborado en escribir la Historia del pueblo.</p>
    </div>
  </div>
</div>
