.investments-filters {
  border-top: 1px solid $border;

  ul {
    font-size: $small-font-size;
    list-style: none;
    margin-left: 0;

    a {
      display: inline-block;
      padding-bottom: $line-height / 8;
      padding-top: $line-height / 8;
    }

    [aria-current] a {
      font-weight: bold;
    }
  }
}
