<% provide :title, t("admin.audits.title") %>
<%= back_link_to request.referer || admin_audits_path %>

<h2><%= t("admin.audits.title") %></h2>

<%= render Admin::Audits::ShowComponent.new(@audit) %>
