.groups-and-headings {
  $spacing: rem-calc(4);

  .headings-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -$spacing;
  }

  .heading {
    border: 1px solid $border;
    border-radius: rem-calc(3);
    margin-bottom: $line-height / 2;
    margin-left: $spacing;
    padding: $line-height / 2;
    position: relative;
    width: 100%;

    @include breakpoint(medium) {
      width: calc(100% / 3 - #{$spacing});
    }

    @include breakpoint(large) {
      width: calc(100% / 6 - #{$spacing});
    }

    &:focus-within {
      outline: $outline-focus;

      a:focus {
        outline: none;
      }
    }

    a {

      &::after,
      &::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        text-decoration: none;
      }

      &:hover::before {
        background: $highlight;
        z-index: -1;
      }
    }

    span {
      display: block;
      font-size: $small-font-size;
    }
  }

  .is-active a {
    background: #f9f9f9;
    border-radius: rem-calc(3);
    color: $budget;
    font-weight: bold;

    &::after {
      content: "\f058";
      font-family: "Font Awesome 5 Free";
      font-size: $small-font-size;
      font-weight: bold;
      line-height: $line-height;
      position: absolute;
      top: 0;
      right: 6px;
    }
  }
}
