.budget-subheader {
  @include grid-row;
  margin-bottom: $line-height;
  margin-top: $line-height;

  .current-phase {
    color: $label;
    text-transform: uppercase;
  }

  .button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-bottom: $line-height * 2;
    margin-top: $line-height / 2;
    min-width: 30%;
    text-decoration: none;
  }

  .callout {
    margin-bottom: 0;
  }
}
