<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>Bienvenidos a participa.grancanaria.com </strong></a></li>
      <li><a href="#2"><strong>¿Quién puede acceder este portal de participación ciudadana?</strong></a></li>
      <li><a href="#3"><strong>¿Quién puede participar en debates y crear iniciativas populares?</strong></a></li>
      <li><a href="#4"><strong>¿Cómo darse de alta?</strong></a></li>
      <li><a href="#5"><strong>Una vez dado de alta, ¿Cómo participar en un proceso participativo?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear">Preguntas Frecuentes (FAQ)</h1>

    <h2 id="1">Bienvenidos a participa.grancanaria.com</h2>
    <p>El sitio donde los grancanarios podrán proponer, debatir y valorar el tipo de isla que desean tener.</p>
    <p>Una plataforma digital puesto en marcha por la Unidad de Participación Ciudadana del Cabildo de Gran Canaria en la que facilitar información y participación en los procesos de deliberación participativa e impulsar espacios para construir, pensar y debatir actuaciones y prioridades para lograr una Gran Canaria mejor, más justa y democrática.</p>
    <h2 id="2">¿Quién puede acceder este portal de participación ciudadana?</h2>
    <p>El acceso es libre para todos los ciudadanos. No establece limitaciones. Simplemente se requiere darse de alta en la sección de registro.</p>

    <h2 id="3">¿Quién puede participar en debates y crear iniciativas populares?</h2>
    <p>Podrán crear iniciativas populares y participar en debates todos los residentes de los 21 municipios de Gran Canaria, mayores de 16 años. </p>
    <h2 id="4">¿Cómo darse de alta?</h2>
    <p><span class="icon-check" ></span> 1. Entra en la sección de Registro</p>
    <p><span class="icon-check" ></span>2. Crea tu cuenta</p>
    <p><span class="icon-check" ></span>3. Crea y rellena los datos siguientes:</p>
    <ol>
      <li>Nombre de usuario</li>
      <li>Correo electrónico </li>
      <li>Y contraseña </li>
    </ol>
    <p><span class="icon-check" ></span>4. También puedes acceder a través de tu cuenta de Facebook, Twitter o Google+.</p>
    <p><span class="icon-check"></span>5. No olvides marcar la casilla de aceptación de las condiciones de uso.</p>
    <p><span class="icon-check"></span>6. Una vez creada la nueva cuenta te llegará un correo electrónico a la dirección que hayas especificado, y tendrás que hacer clic en el enlace que contiene (el enlace que pone "Confirmar mi cuenta") para finalizar la creación de la cuenta.</p>
    <p>¡Desde este momento ya puedes estar al día sobre todos los procesos participativos de tu isla, puedes crear iniciativas populares y realizar comentarios sobre las existentes!</p>
    <h2 id="5">Una vez dado de alta, ¿Cómo participar en un proceso participativo?</h2>
    <p>Una vez creada la cuenta básica, y después de entrar con tu correo y contraseña, para poder ejercer tu voto sobre un proceso participativo abierto, el sistema te pedirá que introduzcas tus datos de residencia (DNI), fecha de nacimiento y código postal, para verificar que estás empadronado en uno de los 21 municipio de la Isla (es importante introducir el número de documento con la letra, y marcar la casilla de aceptación de acceso al Padrón). Para completar esta fase del proceso tendrás que aceptar los términos de acceso al Padrón para que podamos verificarlo, y si los datos son correctos, desde que haya sido verificada la residencia, recibirás SMS con un código de verificación confirmando ser residente que deberás introducir para apoyar iniciativas y propuestas.</p>
    <p>¡ENHORABUENA!, ya puedes participar en las decisiones importantes de tu Isla.<p>

  </div>
</div>
