<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>


<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <h2>AVISO DE PROTECCIÓN DE DATOS</h2>
    <ol>
      <li>La navegación por la información disponible en el Portal de Participación Ciudadana participa.grancanaria.com es anónima.</li>
      <li>Para utilizar los servicios contenidos en participa.grancanaria.com el usuario deberá darse de alta y proporcionar previamente los datos de carácter personal según la información específica que consta en cada tipo de alta.</li>
      <li>Los datos aportados serán incorporados y tratados por el Cabildo de acuerdo con la descripción del fichero siguiente:
        <ul>
          <li><strong>Nombre del fichero/tratamiento:</strong> PARTICIPACIÓN CIUDADANA. Nº inscripción en la Agencia Española de Protección de Datos: 2151140032.</li>
          <li><strong>Finalidad del fichero/tratamiento:</strong> Gestión de los canales de Participación Ciudadana, incluidos los canales de Web, aplicaciones Móviles y redes sociales. </li>
          <li><strong>Órgano responsable:</strong> Cabildo de Gran Canaria</li>
        </ul>
      </li>
      <li>De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre de 1999, de Protección de Datos de Carácter Personal le informamos de que puede ejercitar los derechos de acceso, rectificación, cancelación y oposición, en los términos legalmente reconocidos ante la OFICINA DE INFORMACIÓN Y ATENCIÓN CIUDADANA en la c/Bravo Murillo, 23, entrada por c/ Pérez Galdós, Las Palmas de Gran Canaria, 35003  Las Palmas, o enviando un correo a lopd@grancanaria.com indicando en el asunto el concreto derecho que pretende ejercitar, identificándose por medio válido en derecho e indicando dirección a efectos de notificación.
      <li>Como principio general, este sitio web no comparte ni revela información obtenida, excepto cuando haya sido autorizada por el usuario, o la información sea requerida por la autoridad judicial, ministerio fiscal o la policia judicial, o se de alguno de los supuestos regulados en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</li>
      <li>El interesado podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, ante el órgano responsable indicado, todo lo cual se informa en cumplimiento del artículo 13 del Reglamento Europeo de Protección de Datos.</li>
    </ol>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

