<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="vertical menu margin-top">
      <li><a href="#i"><strong>Explicación detallada del proceso</strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>¿Cómo funcionan las iniciativas ciudadanas?</h1>
    <p>El mecanismo de iniciativas ciudadanas se resume en cuatro pasos muy sencillos:</p>
    <ol>
      <li><strong>¡Propones!</strong> Creas una iniciativa en esta web.</li>
      <li><strong>¡Apoyas!</strong> La gente hace clic en el botón de apoyar tu iniciativa (necesitas el apoyo del 1% de los empadronados mayores de 16 años para pasar a la siguiente fase).</li>
      <li><strong>¡Se lleva a Pleno!</strong>Si has conseguido suficientes apoyos, la iniciativa será llevada a Pleno para su votación. </li>
      <li><strong>¡Se hace!</strong> Si el resultado de la votación de la iniciativa durante el Pleno obtiene el respaldo de la mayoría, tu iniciativa se llevará a cabo.
      </li>
    </ol>

    <h2 id="i">Explicación detallada del proceso</h2>
    <ol>
      <li><strong>Creación de una iniciativa ciudadana</strong>. Cualquier persona mayor de 16 años, residente en Gran Canaria que esté dado de alta en participa.grancanaria.com puede crear una iniciativa ciudadana. Lo único que hay que hacer es pulsar el botón “Crear una iniciativa” y rellenar los campos requeridos. La iniciativa puede ser tan sencilla como una simple frase, pero te recomendamos detallarla todo lo posible, incluso añadiendo material adicional, para que sea más completa e interesante. Una vez creada aparecerá en esta web para que cualquiera pueda apoyarla.</li>
      <li><strong>Apoyo de iniciativas</strong>. Para apoyar una iniciativa ciudadana, pulsamos el botón “apoyar” que aparece en cada una de ellas. Para este paso tendremos que estar empadronados en uno de los 21 municipios de la isla, así que al llevarlo a cabo por primera vez se nos pedirá que verifiquemos nuestra cuenta para estar seguros de este requerimiento. Se nos va a pedir que introduzcamos algunos datos para comprobar nuestra información de empadronamiento, y se nos enviará un código personal para que el proceso sea seguro. Las iniciativas ciudadanas necesitan un porcentaje de apoyos superior al 1% sobre el total de residentes empadronados en la isla o ser consideradas propuestas de interés prioritario por parte del Cabildo de Gran Canaria, para pasar a la siguiente fase: Llevarla a votación al Pleno del Cabildo de Gran Canaria</li>
      <li><strong>Votación de la iniciativa en el Pleno. </strong>En el plazo de XXX, una iniciativa ciudadana que ha conseguido los apoyos necesarios, se vota en Pleno Insular para aprobarla o rechazarla. </li>
      <li><strong>Realización de las iniciativas</strong>. Si el resultado de la votación de la iniciativa durante en el Pleno obtiene el respaldo de la mayoría, el Cabildo de Gran Canaria la asumirá como propia y se compromete a llevarla a cabo. Para ello, en un plazo máximo de un mes, se realizarán los informes técnicos correspondientes sobre su legalidad, viabilidad y coste económico, teniendo en cuenta a los sectores afectados y a la persona que haya lanzado la propuesta, para detallar la actuación correspondiente. Se publicarán en la web todos los informes realizados, y un seguimiento de las actuaciones que se lleven a cabo, para asegurar un correcto desarrollo de la propuesta.</li>
    </ol>
  </div>
</div>
