// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$brand-green: #0B923E;
$brand-pink: #D90E6A;
$brand-yellow: #FEEF02;
$grey: #E6E6E6;
$white: #FEFEFE;

header {
  background-color: $white;
  .top-links {
    background-color: $brand-green;
    min-height: 2em;
  }
  .top-bar {
    background-color: $white!important;
    padding: 0.5em 0;
    .top-bar-title a,
    .top-bar-right-title a {
      img {
        max-height: 130px;
      }
    }
    .top-bar-right {
      ul li {
        a {
          color: $brand-green;
          &.button {
            background-color: $brand-green;
            color: $white;
          }
        }
      }
    }
  }
  #navigation_bar {
    background-color: $grey;
  }
  #responsive-menu {
    width: 95%;
    .subnavigation.row {
      margin: auto;
      margin-top: 1em;
      border-top: 1px solid $brand-green;
    }
    .top-bar-right {
      float: right;
    }
  }
}

.menu-icon.dark {
  margin-left: 0.5em;
  &:hover::after,
  &::after {
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    background: #000;
  }
}

.orbit {
  h1 {
    background: rgba(10,10,9,0.7);
    background: -moz-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,10,9,0)), color-stop(50%, rgba(10,10,9,0.7)), color-stop(51%, rgba(10,10,9,0.7)), color-stop(100%, rgba(10,10,9,0)));
    background: -webkit-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: -o-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: -ms-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: linear-gradient(to right, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb3b', endColorstr='#ffeb3b', GradientType=1 );
    color: white;
    font-weight: 300;
    font-style: italic;
    padding: 1rem 3rem;
    line-height: 4rem;
    font-size: 4rem;
  }

  .row {
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    &.banner {
      bottom: 7em;
    }
    &.register {
      text-transform: uppercase;
      bottom: 3em;
    }
    &.slogan {
      bottom: 8em;
      color: $white;
      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    div {
      max-width: 70%;
      margin: auto;
    }
  }

  .orbit-wrapper {
    .orbit-container {
      height: 600px!important;
      .orbit-slide img {
        image-rendering: inherit;
      }
    }
  }

  .button {
    background-color: $brand-pink;
    padding: 0.6rem;
  }

  .button:hover, .button:focus {
    background-color: darken($brand-pink, 20);
  }

  & + .row.sub-banner {
    margin: 0;
    max-width: 100%;
    padding: 3rem;

    .lead {
      margin: 0 auto 2rem auto;
      text-align: center;
      font-size: 1.2rem;
    }
    .button {
      background-color: $brand-green;
      color: white;
      padding: 0.6rem;
    }
    .button:hover {
      background-color: darken($brand-green, 20);
    }
  }
}

main {
  .sections {
    background-color: $grey;
    padding-top: 1em;
    .row .column h2 {
      color: $brand-pink;
    }
  }
  .presentation {
    span {
      color: $brand-pink;
    }
  }
}

.footer {
  background-color: $brand-pink;
  footer, footer a, footer a:active, footer a:focus {
    color: $white;
  }
  .bottom-bar-title a img {
    margin-left: 1em;
    max-height: 50px;
    padding-bottom: 0.2em;
  }
}

@media screen and (max-width: 1024px) {
  .orbit {
    .orbit-wrapper {
      .orbit-container {
        height: 425px!important;
        .orbit-slide img {
          image-rendering: inherit;
        }
      }
    }
    .row {
      &.slogan {
        bottom: 5em;
      }
      &.register {
        bottom: 1em;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .top-bar-right {
    width: 95%;
  }
  .orbit {
    .orbit-wrapper {
      .orbit-container {
        height: 250px!important;
        .orbit-slide img {
          image-rendering: inherit;
        }
      }
    }
  }
}
