// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

@import 'https://fonts.googleapis.com/css?family=Work+Sans';

body {
  font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif !important;
}

// 01. Logo
// --------

// this file (custom) is included after mixin is used in top-bar style, so if we change it we have to include again
@mixin logo {
  img {
    @include breakpoint(small) {
      height: 150px;
      width: auto;
    }
  }
}

$brand: #212D5D;
$proposals: #E8001E;
$debates: #EE4B2A;
$votes-bg: #EE4B2A;
$proposals-border: darken($proposals, 10%);;
$votes-border: darken($debates, 10%);
@import 'participation';

.wrapper, .footer {
  max-width: 75rem;
  margin: auto;
}

header {
  background-color: $body-background;
  .top-links {
    background-color: $body-background;
    .row {
      background-color: $brand;
    }
  }

  & > .row {
    .top-bar {
      background-color: white!important;
      height: initial;
      line-height: initial;
      #responsive-menu {
        padding-top: 0.7em;
        .top-bar-title a {
          color: $text;
          @include logo;
        }
        .top-bar-right li {
          display: table-row;
          height: initial;
          a {
            color: $text;
          }
        }
      }
    }
  }

  & .subnavigation {
    ul li {
      margin-right: 1rem;
    }
  }

}

.proposals-list .proposal {
  margin-bottom: 0.5rem;
  .panel {
    border: 1px solid $proposals;
  }
  .supports:after {
    border-color: $proposals transparent transparent transparent;
  }
}

.debates-list .debate {
  margin-bottom: 0.5rem;
  .panel {
    border: 1px solid $debates;
  }
  .votes:after {
    border-color: $debates transparent transparent transparent;
  }
}

// Main footer section hidden by now, so we reduce push height
.push {
  min-height: 3rem;
}

.footer {
  min-height: initial;
  border-top: 0;
  padding-top: 0;
  background-color: $body-background;
  footer {
    & > .row:first-child {
      display: none;
    }
    .subfooter {
      background-color: $brand;
      border-top: 0;
      .column {
        float: right;
        ul.menu li {
          font-size: 0.875rem;
          text-align: right;
          color: $text-light;
          padding-top: 0;
          a {
            color: $text-light;
            white-space: nowrap;
            padding-top: 0;
            span {
              margin-right: 0.2rem;
            }
          }
        }
      }
    }
  }
}
