// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// 1. Header
// 2. Banner

$red-gva: #c80f2e;
$blue-gva: #1c9799;
$black-gva: #191919;
$white-gva: #ffffff;

body {
  font-family: "Roboto", sans-serif;
  // border: 5px solid blue;
}

// 1. Header
header {
  background: $white-gva;
}

.top-bar {
  background: $white-gva !important;
  color: $red-gva;
  padding-bottom: 0;
  padding-top: 0;

  @include breakpoint(medium) {
    padding: 0;
  }

  ul {
    background: none;
    padding-right: rem-calc(15);
  }

  .menu .menu-text {
    padding: 0;

    a {
      color: #fff;
      display: inline-block;
      font-family: "Lato" !important;
      font-size: rem-calc(24);
      font-weight: lighter;
      line-height: $line-height * 2;
      padding: 0;

      @include breakpoint(medium) {
        line-height: rem-calc(80);
        margin-top: 0;
      }

      img {
        @include breakpoint(medium) {
          margin-right: $line-height / 2;
          margin-top: 0;
        }
      }
    }
  }

  .menu > li {
    display: block;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }

    a {
      color: $red-gva;
      padding-left: 0;
      font-size: 16px;

      @include breakpoint(medium) {
        font-size: $small-font-size;
        padding: rem-calc(11) rem-calc(16);
      }
    }

    .button {
      background: none;
      text-align: left;

      @include breakpoint(medium) {
        border-radius: 10px;
        border: solid 2px $red-gva;
        background: $white-gva;
        color: $red-gva;
        text-align: center;
      }
    }
  }

  .has-submenu {
    &.is-active a {
      color: #fff;
      font-weight: bold;
    }
  }

  .menu {
    &.is-dropdown-submenu {
      background: #fff;
      margin: 0;
      margin-top: rem-calc(-12);
      padding: 0;
      z-index: 9;
    }

    .is-submenu-item {
      display: block;
      height: auto;
      margin-bottom: 0;

      a {
        color: $text;
      }
    }
  }

  .menu-icon {
    &.dark {
      &:hover::after,
      &::after {
        background: $red-gva;
        box-shadow: 0 7px 0 $red-gva, 0 14px 0$red-gva;
      }
    }
  }

  .top-bar-title {
    line-height: $line-height;

    a img {
      height: rem-calc(48);
      margin: 0;
      width: auto;

      @include breakpoint(medium up) {
        height: auto;
      }
    }
  }
}

.subnavigation {
  a {
    color: $blue-gva;
  }
}

// 2. Banner

.banner-gva {
  position: relative;
  width: auto;
  height: 610px;
  background-image: image-url("custom/banner.jpg");
  &__title {
    // font-family: Roboto;
    position: absolute;
    top: 50px;
    left: 35px;
    max-width: 588px;
    max-height: 142px;
    font-size: 60px;
    font-weight: bold;
    color: $white-gva;
  }
  &__txt {
    // font-family: Roboto;
    position: absolute;
    top: 270px;
    max-width: 441px;
    max-height: 110px;
    left: 35px;
    font-size: 16px;
    line-height: 1.38;
    color: $blue-gva;
  }

  &__buttons {
    position: absolute;
    top: 452px;
    left: 185px;
    &__btn {
      border-radius: 19px;
      border: solid 2px $red-gva;
      background: $white-gva;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: $red-gva;
    }
  }
}

// Sections Icons

.sections-icon {
  padding: 0 1.5em;
  text-align: center;

  &__title {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-gva;

    &__higlight {
      color: $red-gva;
    }
  }

  &__item {
    text-align: center;

    img {
      margin-bottom: 1.5em;
    }

    &__title {
      text-align: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      color: $blue-gva;
    }
    &__description {
      text-align: center;
      margin: 0 auto;
      max-width: 256px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: 16px;
      line-height: 1.38;
      font-weight: normal;
      color: $black-gva;
    }
  }
}

// Slider

.slider-gva {
  position: relative;
  height: 610px;
  background-image: image-url("custom/slider.jpg");
  

  &__title {
    position: absolute;
    top: 50px;
    right: 225px;
    .month {
      max-width: 203px;
      // height: 117px;
      // font-family: Roboto;
      font-size: 100px;
      font-weight: bold;
      color: $blue-gva;
    }
    .budget-gva {
      display: inline-block;
      max-width: 224px;
      // height: 84px;
      // font-family: Roboto;
      font-size: 36px;
      font-weight: bold;
      color: $blue-gva;
    }
  }
  &__txt {
    position: absolute;
    top: 200px;
    right: 177px;
    // width: 50%;
    max-width: 452px;
    // height: 110px;
    // font-family: Roboto;
    font-size: 16px;
    line-height: 1.38;
    color: $black-gva;
  }

  &__btn {
    position: absolute;
    top: 420px;
    right: 315px;
    // width: 236px;
    // font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 19px;
    border: solid 2px $red-gva;
    background: $white-gva;
    color: $red-gva;
  }

  @mixin icon {
    display: inline-block;
    width: 130px;
    height: 44px;
  }

  &__icons {
    position: absolute;
    top: 350px;
    right: 236px;
    .icon-valencia {
      @include icon;
      background-color: #1c9799;
    }

    .icon-castelo {
      @include icon;
      background-color: #c80f2e;
    }

    .icon-alicante {
      @include icon;
      background-color: aquamarine;
    }
  }
}

// Sections Cards

.sections-cards {
  &__title {
    width: 396px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    color: $red-gva;
  }

  .card {
    height: 344px;
    border-radius: 18px;
    // box-shadow: 4px 6px 43px 0 rgba(0, 0, 0, 0.21);

    a {
      // box-shadow: 4px 6px 43px 0 rgba(0, 0, 0, 0.21);

      // img {
      //   border-radius: 18px;
      // }

      &:hover {
        img {
          box-shadow: None !important;
          border-radius: 18px;
          transform: None !important;
        }
      }
    }

    .figcaption {
      &__title {
        // width: 107.9px;
        // font-family: Roboto;
        padding: 0 0.375rem;
        font-size: 18px;
        font-weight: bold;
        color: $blue-gva;
      }
    }
    &__description {
      // font-family: Roboto;
      font-size: 12px;
      line-height: 1.42;
      color: $black-gva;
    }
  }
  // &__card {
  //   a {
  //     &:hover {
  //       img {
  //         transform: scale(1);
  //       }
  //     }
  //   }
  // }
}

// Footer

footer {
  color: $white-gva;

  .logo a {
    font-family: "Lato" !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: $small-font-size;

    &.info a {
      text-decoration: underline;
    }
  }

  a,
  a:active,
  a:focus {
    color: $white-gva;
    text-decoration: none;

    &:hover {
      color: $text-medium;
    }
  }

  .footer-sections {
    padding-left: 0;
  }

  .title {
    font-weight: bold;
    text-decoration: none;
  }

  .links,
  .privacy {
    ul li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.footer {
  background: $black-gva;
  margin-top: $line-height * 2;
  padding-top: $line-height;
}
