<div class="row">
  <div class="slider-gva small-12 columns">
    <div class="slider-gva__body">
      <h1 class="slider-gva__body__title ">
        <span class="month">18M</span>
        <div class="budget-gva">
          <span >Presupuestos</span>
          <span >2020</span>
        </div>
      </h1>
      <p class="slider-gva__body__txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel lorem odio. Morbi sit amet consequat purus. Donec augue as vel dui quis, placerat elementum magna.
        <br/>
        <br/>
        Maecenas nec dolor id neque hendrerit tempus sed eu eros.
      </p>
      <div class="slider-gva__body__icons">
        <%# <%= image_tag("valencia.png") %>
        <%# <%= image_tag("catello.png") %>
        <%# <%= image_tag("alicante.png") %>
        <div class="icon-valencia"></div>
        <div class="icon-castelo"></div>
        <div class="icon-alicante"></div>
      </div>
      <button class="button slider-gva__body__btn">
        ¡Participa en las votaciones!
      </button>
    </div>
  </div>
</div>
