<div class="presentation small-12 column padding">
  <div class="row small-12 padding">
    <div class="medium-6 small-12 column">
      <h2>Presentamos la nueva Plataforma</br> de Participación Ciudadana</br> de <span>Arucas</span></h2>
      <p>En este video puedes ver un pequeño tutorial</p>
    </div>
    <div class="medium-6 small-12 column">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x_jcQIlgHto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
