<div class="row ">
  <% if @cards.any? %>
    <div class="small-12 columns sections-cards">
      <h3 class="sections-cards__title"><%= t("welcome.cards.title") %></h3>

      <%= render "shared/cards" %>
    </div>
  <% end %>
</div>
