<div class="orbit no-margin-top" role="region" aria-label="banner" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">
      <li class="orbit-slide">
        <div class="row slogan">
          <div class="small-8 small-centered text-center">
            <p>Arucas,</p>
            <p>donde viven las sensaciones</p>
          </div>
        </div>

        <div class="row register">
          <div class="small-4 medium-3 large-2 small-centered">
            <%= link_to 'Participa', '#', class: "button expanded large", target: "_blank"  %>
          </div>
        </div>
        <figure class="orbit-figure">
          <%= image_tag('slider/slide1.jpg', class: 'orbit-image', alt: 'Participa') %>
        </figure>
      </li>
    </ul>
  </div>
</div>

