<div class="jumbo slider-gva">
  <div class="row">
    <div class="small-12 medium-6 column content-text">
      <%= image_tag("welcome/#{I18n.locale}/text.png",
                    alt: 'welcome.slider.title') %>
                  <% loc = I18n.locale == :val ? 'va' : I18n.locale %>
      <div class="buttons">
        <%= link_to t("welcome.slider.button_debates"), "http://participem.gva.es/#{loc}/fase-1-informacio", class: "button" %>
        <%= link_to t("welcome.slider.button_proposal"), budgets_path, class: "button" %>
      </div>
    </div>
    <div class="small-12 medium-6 column content-image">
      <%= image_tag("welcome/#{I18n.locale}/image.png",
                    class: "margin",
                    alt: 'welcome.slider.title') %>
    </div>
  </div>
</div>
