<div class="jumbo slider-gva">
  <div class="row">

    <div class="small-12 medium-6 column">
      <%= image_tag('participa_i_decideix.png',
                    class: "margin",
                    alt: 'welcome.slider.title') %>
      <%= link_to t("welcome.slider.button"), proposals_path, class: "button" %>
    </div>
    <div class="small-12 medium-6 column">
      <%= image_tag('manos.png',
                    class: "margin",
                    alt: 'welcome.slider.title') %>
    </div>
  </div>
</div>
