<div class="small-12 row sub-banner">
  <p class="lead small-8">
  <%= t("layouts.header.open_city_slogan_html") %>
  </p>
  <div class="small-8 medium-4 large-3 small-centered">
    <%= link_to t("layouts.header.more_info"), help_path, class: "button expanded large" %>
  </div>
</div>
<div class="presentation small-12 column padding">
  <div class="row small-12 padding">
    <div class="medium-12 small-12 column">
      <h2>Presupuestos Participativos Municipales 2020</br> de <span>Arucas</span></h2>
    </div>
    <div class="medium-6 small-12 column">
      <p>Lo mejor para Arucas, lo decides tú</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/R2SSrK4totw?rel=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
    <div class="medium-6 small-12 column">
      <p>¿Qué son los presupuesto participativos?</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cxKS739nOo0?rel=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
