<div class="row row-max-width">
  <div class="welcome-header">
    <h1 class="welcome-header__title ">Ahora puedes decidir sobre la comunidad</h1>
    <p class="welcome-header__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel lorem odio. Morbi sit amet consequat purus. Donec augue as vel dui quis, placerat elementum magna.
      <br/>
      <br/>
      Maecenas nec dolor id neque hendrerit tempus sed eu eros.
    </p>
    <div class="welcome-header__buttons">
      <button class="button welcome-header__buttons__btn">Más recursos</button>
      <button class="button  welcome-header__buttons__btn">Procesos participativos</button>
    </div>
  </div>
</div>
