<%= render "shared/google_analytics" %>
<div class="expanded closed padding no-margin-top">
  <div class="row">
    <div class="small-12 medium-6 column">
      <h1>
        En breve podrás acceder a la Plataforma de Participación Ciudadana del Cabildo de Gran Canaria
      </h1>
    </div>
  </div>
</div>

