.proposal-full {
  @include grid-row;

  @include breakpoint(small only) {
    > * {
      padding: 0 rem-calc(12);
    }

    .proposal-supports {
      background-color: $body-background;
      bottom: 0;
      position: sticky;
    }
  }

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto 1fr;

    > * {
      padding: 0 rem-calc(15);
    }

    > :first-child {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    > :not(:first-child) {
      grid-column: 2;
    }
  }

  .proposal-supports {
    margin-bottom: $line-height;
  }
}
