<div class="row row-banner-gva">
  <div class="banner-gva">
    <h1 class="banner-gva__title ">Ahora puedes decidir sobre la comunidad</h1>
    <p class="banner-gva__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel lorem odio. Morbi sit amet consequat purus. Donec augue as vel dui quis, placerat elementum magna.
      <br/>
      <br/>
      Maecenas nec dolor id neque hendrerit tempus sed eu eros.
    </p>
    <div class="banner-gva__buttons">
      <button class="button banner-gva__buttons__btn">Más recursos</button>
      <button class="button  banner-gva__buttons__btn">Procesos participativos</button>
    </div>
  </div>
</div>
