<% if Rails.env == "production" && Setting["google_tracking"].present?  %>
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id='<%= Setting["google_tracking"] %>'"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= Setting["google_tracking"] %>');
  </script>

    <!-- Google Code para etiquetas de remarketing -->
    <!--------------------------------------------------
Es posible que las etiquetas de remarketing todavía no estén asociadas a la información personal identificable o que estén en páginas relacionadas con las categorías delicadas. Para obtener más información e instrucciones sobre cómo configurar la etiqueta, consulte http://google.com/ads/remarketingsetup.
--------------------------------------------------->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 828633433;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/828633433/?guid=ON&amp;script=0"/>
    </div>
  </noscript>
<% end %>
