<div class="small-12 medium-9 column">
  <ul>
    <%= raw content_block("subnavigation_left", I18n.locale) %>

    <li>
      <a href="/"> Incio</a>
    </li>
    <li>
      <a href="/pepch">PEPCH</a>
    </li>
    <li>
      <a href="/participa">Participa</a>
    </li>
    <li>
      <a href="/espacios-participativos">Espacios participativos</a>
    </li>
    <li>
      <a href="/fotogaleria">Fotogalería</a>
    </li>
    <li>
      <a href="/documentacion">Documentos</a>
    </li>
  </ul>
    <%= raw content_block("subnavigation_right", I18n.locale) %>
  </ul>
</div>
