<div class="summary">
  <h3>Cómo participar</h3>
  <p class="intro">Para crear inicitivas populares en
    <strong> Participa Gran Canaria </strong>
    es muy fácil. Sólo tienes que seguir estos sencillos pasos:
  </p>
  <h5 class="icon-check" >Paso 1</h5>
  <p class=""> Accede a la sección de Registro y crea tu cuenta de Particpa! directamente o a través de tu cuenta de Facebook o Twitter.<p>
  <h5 class="icon-check" >Paso 1</h5>
  <p class=""> Accede a la sección de Registro y crea tu cuenta de Particpa directamente o a través de tu cuenta de Facebook o Twitter.<p>
  <h5 class="icon-check" >Paso 1</h5>
  <p class=""> Accede a la sección de Registro y crea tu cuenta de Particpa directamente o a través de tu cuenta de Facebook o Twitter.<p>
</div>
