<section class="top-links">
  <div class="expanded row">
    <%# <%= render 'shared/locale_switcher' %>
    <div class="external-links">
      <ul class="menu">
        <li>
          <%= render "shared/admin_login_items" %>
        </li>
      </ul>
    </div>
  </div>
</section>
